
  
<%= form_with(model: @post) do |form| %> <% if @post.errors.any? %>
  <div style="color: red">
    <% post.errors.each do |error| %> 
      <div ><%= error.full_messages%></div>
    <% end %>
  </div>
<% end %>
 

<div >
  <%= form.label :title%> 
  <%= form.text_field :title %>

</div>

<div>
  <%= form.label :body%> 
  <%= form.text_field :body %>
  <div>
    <% if @post.errors.details[:body].any?%> 
      <% @post.errors.details[:body].each do |error| %> 
        <%= error[:error] %>
      <% end %>
    <% end %>
  </div>
</div>

<div><%= form.submit%></div>
<% end %>

